这是RNA-Seq学习的第三篇
转录组入门(3)：了解fastq测序数据
需要用安装好的sratoolkit把sra文件转换为fastq格式的测序文件，并且用fastqc软件测试测序文件的质量！
作业，理解测序reads，GC含量，质量值，接头，index，fastqc的全部报告，搜索中文教程，并发在论坛上面。

在第二篇中已经下载了SRR3589956-62的*.sra数据。要把.sra转换为.fastq,要使用的工具是`fastq-dump`,首先查看帮助：
* INPUT：-A|--accession 序列号
* PROCESS：Read Splitting, Full Spot Filters, Common Filters, Filters based on alignments, Filters for individual reads。 基本都是些过滤参数。不太常用
* OUTPUT：-O|--outdir输出文件夹；-Z|--sudout输出到标准输出；--gzip/--bzip输出为压缩格式（实践证明空间占用差六倍左右）
* Multiple File Options ：常用--split-3
所以用法就是：`fastq-dump --gzip --split-3 *.sra`。
因为本人生物学出身，对编程了解太少，做法就是创建一个文件夹处理相应的数据，这样省事，却不利于学习啊。
